<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content"width=device-width, initial-scale">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div id="root">
            loading...
        </div>
        <script src="/bundle.js" charset="utf-8"></script>
    </body>
</html>